.header {
  height: 3rem;
  border-bottom: 1px solid rgba(255,255,255,.2);
}

ul {
  display: flex;
  justify-content: space-between;
}

li {
  flex: 1 1 0px;
  text-align: center;
}

li a {
  font-size: 1.75rem;
  line-height: 3rem;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

li a:hover {
  opacity: 0.8;
}
