/* 
   CSS Reset
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1rem;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

body {
  margin: 0;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

.light-theme,
.light-theme .header {
  background-color: #eeeff1;
}

.light-theme,
.light-theme a {
  color: #011502;
}

.light-theme .career-highlight_timeline-line {
  background-color: #011502;
}

.light-theme .career-highlight_timeline-icon,
.light-theme .tag {
  border-color: #011502;
}

.light-theme a:hover {
  opacity: .7;
}

.dark-theme,
.dark-theme .header {
  background-color: #203139;
}

.dark-theme,
.dark-theme a {
  color: #F1E9DB;
}

.dark-theme .career-highlight_timeline-line {
  background-color: #F1E9DB;
}

.dark-theme .career-highlight_timeline-icon,
.dark-theme .tag {
  border-color: #F1E9DB;
}

.dark-theme a:hover {
  opacity: .7;
}

.page-container {
  margin: 0 30px;
  padding-top: 5rem;
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 50px;
}

.grid-10 {
  grid-template-columns: repeat(10, 1fr);
}

.grid-align-center {
  align-items: center;
}

p {
  line-height: 1.5;
}

h1 {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.text-bigger {
  font-size: 1.5rem;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-bold {
  font-weight: 500;
}

.section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/* 
.flex {
  display: flex;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-row {
  flex-direction: row;
} */

